@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using CashFlow.Models
@model TransactionModel

@{
    ViewData["Title"] = Model.PageTitle;
    Layout = "~/Pages/Shared/_Layout.cshtml";

}

<h1>@Model.PageTitle</h1>

<button id="createTransaction" type="button" class="btn btn-primary">
    Create
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" asp-controller="Transaction" asp-action="Create">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Transaction</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" required="required" name="id" readonly/>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" required="required" name="description" />
                    </div>
                    <div class="form-group">
                        <label>Amount</label>
                        <input type="number" class="form-control" required="required" name="amount" />
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <select id="transactiontype" name="transactiontype" required="required">
                            <option value=""></option>
                            <option value="Expense">Expense</option>
                            <option value="Income">Income</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="closeTransaction" type="button" class="btn btn-secondary">Close</button>
                    <button id="addTransaction" type="button" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
@if (Model.Transactions.Count == 0)
{
    <p>There are no Transactions in the DB.</p>
}
else
{
    <table class="table">
        <thead>
            @foreach (var item in Model.Transactions)
            {

                <tr>
                    <td id="@Html.DisplayFor(model=>item.ID)ID">
                        @Html.DisplayFor(model => item.ID)<br />
                    </td>
                    <td id="@Html.DisplayFor(model=>item.ID)amount">
                        @Html.DisplayFor(model => item.Amount)<br />
                    </td>
                    <td id="@Html.DisplayFor(model=>item.ID)desc">
                        @Html.DisplayFor(model => item.Description)<br />
                    </td>
                    <td id="@Html.DisplayFor(model=>item.ID)tt">
                        @Html.DisplayFor(model => item.TransactionType)<br />
                    </td>
                    <td>
                        <button id="editTransaction" data-custom-id="@Html.DisplayFor(model => item.ID)" type="button" class="btn btn-outline-info">Edit</button>
                        <button id="deleteTransaction" data-custom-id="@Html.DisplayFor(model => item.ID)" type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </thead>
    </table>
}


<script type="text/javascript" src="~/js/transaction.js"></script>
